{% extends 'base.html.twig' %}

{% block header_title %}
    <h1 class="display-4">Bienvenue sur Todo List</h1>
    <p class="lead">l'application vous permettant de gérer l'ensemble de vos tâches sans effort !</p>
{% endblock %}

{% block body %}{% endblock %}
